<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Basketball Team</title>
 </head>
 <body>
   <h1>Basketball Team!</h1>
   Team Name: <%= @name %>
   Coach: <%= @name %>
   Point Guard: <%= @name %>
   Power Forward: <%= @name %>
   Shooting Guard: <%= @name %>
   Small Forward: <%= @name %>
   Center: <%= @name %>
 </body>
</html>
